body {
   background: linear-gradient(135deg, #0f172a, #020617);
    font-size: x-large;
}
.container {
  width: 80%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  background-color: #020617;
   border-bottom: 1px solid #334155;
   position: sticky;
  top: 0;
  z-index: 1000;
background-color: rgba(2, 6, 23, 0.9);
  
   transition: background-color 0.4s ease;
}
.navbar.transparent {
   background-color: rgba(2, 6, 23, 0.7); 
  backdrop-filter: blur(10px);
}
.navbar.transparent a {
  color: #38bdf8;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.logo a {
  color: #38bdf8;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

/* شيل النقط */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* شكل اللينكات */
.navbar a {
    position: relative;
  text-decoration: none;
  color: #38bdf8;
  font-size: 18px;
}
/* الخط تحت */
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;

  width: 0%;
  height: 2px;
  background-color: #38bdf8;

  transition: 0.3s;
}
.navbar a:hover::after {
  width: 100%; 
}

i {

  color: #38bdf8;
  margin-right: 5px;
}

#ho {

    margin-right: 13px;

}

/* hover */
.navbar a:hover {
  color: white;
}

.list {
  /*visibility: hidden;  */
}

.mo {
  visibility: visible;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #38bdf8;
}

@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #020617;
    width: 100%;
    
    flex-direction: column;
    text-align: center;

    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

.nav-links {
  transition: 0.3s;
}

header {
   color: #38bdf8;
   text-align: center;
   font-size: 40px;
  font-weight: bold;
   margin-bottom: 5%;
   margin-top: 30px;
}

h1 {
     color: #f1f5f9;
     margin: 10% 0% 2.5%;
     
}

p {
    color: #cbd5f5;
    
    margin: 10px 0;
    line-height: 1.6;
}
hr {
  border: 1px solid #334155;
  width: 60%;
}
.home {
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 50%;
    
}

.lol {
    text-align: center;
    color: aliceblue;
    margin-bottom: 3%;
}


.footer {
  background-color: #020617;
  color: #e2e8f0;
  padding: 30px 20px;
  margin-top: 80px;
  border-top: 1px solid #1e293b;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.3);
}

/* container */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.footer-container > div {
  flex: 1;
} 

/* العناوين */
.footer h2 {
  font-size: 28px;
  color: #38bdf8;
  text-shadow: 0 0 10px rgba(56,189,248,0.3);
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* اللينكات */
.footer ul {
  list-style: none;
  padding: 0;
  
}

.footer a {
  text-decoration: none;
  color: #cbd5f5;
  display: block;
  margin: 5px 0;
  transition: 0.3s;
  font-size: 15px;
}

.footer a:hover {
  color: #38bdf8;
  transform: translateX(5px);
    padding-left: 5px;
}

/* النص تحت */
.footer .copyright {
  text-align: center;
   margin-top: 25px;
  font-size: 14px;
  color: #94a3b8;
  border-top: 1px solid #1e293b;
  padding-top: 15px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-links {
  visibility: hidden;
}